CompileFlags:
  Add:
    - -xc
    - -std=c17
    - --target=x86_64-w64-mingw32
    - -DPLATFORM_DESKTOP
    - -IC:/msys64/mingw64/include
    - -isystemC:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/13.2.0/include
    - -isystemC:/msys64/mingw64/x86_64-w64-mingw32/include
